body {
	background-image: url(usedPictures/matrix.jpeg);
}

form {
	border: 2px solid black;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
	background-color: gray;
	padding: 20px;
}
.typingInformation {
	text-align: center;
	width: 100%;
}
h1 {
	color: lime;
	background-color: gray;
	text-align: center;
}

#comments {
	height: 100pt;
	width: 100%;
}
label {
	padding-bottom: 20px;
	padding-top: 20px;
	color: lime;
}
input{
    padding-top: 5px;
}